<p-card class="p-4">
  <div class="flex items-center justify-between mb-4">
    <h4 class="text-lg font-semibold">{{ 'categories.transaction-categories' | translate }}</h4>
  </div>
  @if (loader()) {
    <app-spinner />
  } @else {
    @if (categories(); as cat) {
      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        @for (category of categories(); track category.id; let i = $index) {
          <li
            class="group relative flex items-center gap-4 p-3 rounded-lg hover:bg-gray-100/60"
            [style.--index]="i"
            animate.enter="slide-in"
          >
            <div
              class="w-12 h-12 flex items-center justify-center text-xl text-gray-800 bg-gray-100 rounded-full"
            >
              @if (category.icon) {
                <ngx-emoji [emoji]="category.icon" [size]="30" class="leading-none"></ngx-emoji>
              } @else {
                <ng-icon name="lucideLayers" size="24" class="text-blue-500!" />
              }
            </div>

            <div class="flex flex-1 justify-between items-center">
              <div>
                <p class="text-sm text-gray-700 font-medium">
                  {{ category.name }}
                </p>
                <p
                  class="text-sm text-gray-400 mt-1 capitalize"
                  [class.text-green-500]="category.type === CategoryEnum.INCOME"
                  [class.text-red-500]="category.type === CategoryEnum.EXPENSE"
                >
                  {{
                    category.type === CategoryEnum.INCOME
                      ? ('general.income' | translate)
                      : ('general.expense' | translate)
                  }}
                </p>
              </div>
              <div class="flex items-center gap-2">
                <button
                  type="button"
                  (click)="onUpdate(category)"
                  aria-label="Open modal for updating particular category"
                  class="text-gray-400 hover:text-blue-500 md:opacity-0 md:group-hover:opacity-100 md:translate-x-2 md:group-hover:translate-x-0 transition-all duration-300"
                  [pTooltip]="'categories.edit-tooltip' | translate"
                  tooltipPosition="top"
                >
                  <ng-icon name="lucidePencil" size="18" />
                </button>
              </div>
            </div>
          </li>
        } @empty {
          <p class="text-gray-500">{{ 'categories.fallback' | translate }}</p>
        }
      </ul>
    }
  }
</p-card>
