<div class="h-screen w-full relative flex items-center justify-center overflow-hidden">
  <app-language-picker class="z-50 absolute right-5 top-5"></app-language-picker>
  <div>
    <div class="absolute inset-0 w-full h-full bg-black/50 z-10"></div>
    <img
      class="select-none absolute inset-0 w-full h-full object-cover grayscale-75 blur-xs"
      src="login-bg.jpg"
      alt="Sign Up Background"
    />
  </div>

  <div class="relative z-10 w-full max-w-lg px-6">
    <div
      class="bg-white opacity-95 backdrop-blur-sm rounded-lg shadow-2xl p-3 sm:p-8 max-h-[90vh] overflow-y-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </div>

  <div
    (click)="toggleTestAccount($event, sm)"
    class="absolute z-50 bottom-4 left-4 sm:top-4 sm:left-4 sm:bottom-auto p-3 sm:p-5 bg-white/10 backdrop-blur-md border border-white/20 rounded-full sm:rounded-2xl shadow-2xl text-white cursor-pointer sm:cursor-default"
  >
    <div class="flex justify-center sm:mb-4">
      <ng-icon name="lucideInfo" size="28"></ng-icon>
    </div>

    <div class="hidden sm:block text-center w-60">
      <ng-container *ngTemplateOutlet="testAccountDetails"></ng-container>
    </div>
  </div>

  <p-popover #sm>
    <ng-container *ngTemplateOutlet="testAccountDetails"></ng-container>
  </p-popover>

  <ng-template #testAccountDetails>
    <h3
      class="text-sm font-bold uppercase tracking-wider text-blue-500 sm:text-blue-200 mb-3 text-center"
    >
      {{ 'auth.test-account' | translate }}
    </h3>
    <div class="space-y-2 text-sm font-mono bg-black/20 p-3 rounded-lg border border-white/10">
      <div class="flex justify-between items-center gap-4">
        <span class="text-gray-700 sm:text-gray-300">Email:</span>
        <span class="font-medium text-gray-600 sm:text-white">test@example.com</span>
      </div>
      <div class="flex justify-between items-center gap-4">
        <span class="text-gray-700 sm:text-gray-300">{{ 'auth.password' | translate }}:</span>
        <span class="font-medium text-gray-600 sm:text-white">test1231</span>
      </div>
    </div>
  </ng-template>
</div>
