@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '@ctrl/ngx-emoji-mart/picker';
@import 'tailwindcss';

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
  color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #eeefef inset !important;
  -webkit-text-fill-color: black !important;
  caret-color: black !important;
}

.input-error {
  @apply border-2 border-red-500;
}

button:hover {
  cursor: pointer;
}

.btn-add {
  @apply bg-green-500/20 border rounded-sm border-green-500/30 py-1 px-2 text-sm text-wrap md:text-base md:py-2 flex items-center gap-1
  md:px-4 text-green-600 hover:bg-green-500/40 transition duration-200 disabled:grayscale-75
  disabled:hover:cursor-not-allowed;
}
.btn-danger {
  @apply px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-lg shadow-sm shadow-red-200 transition-all active:scale-95;
}

.btn-action {
  @apply flex items-center gap-1 bg-gray-100 px-2 py-1 rounded-md hover:bg-blue-500/40 hover:text-blue-700 transition-colors duration-200 w-full;
}

/* Animations */
.slide-in {
  animation: slideFadeIn 0.5s ease-out both;

  animation-delay: calc(var(--index) * 0.07s);
}

item-wrapper {
  margin-bottom: 1rem;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
