<p-card class="w-full mx-auto">
  @if (loader()) {
    <app-spinner></app-spinner>
  } @else {
    <div class="flex items-center justify-between">
      <h5 class="text-lg">Income Sources</h5>
      <div class="flex flex-col sm:flex-row items-center justify-end gap-2">
        <button type="button" class="btn-action">
          <ng-icon name="lucideMail" size="15" class="text-base!"></ng-icon>
          <span>Email</span>
        </button>
        <button type="button" class="btn-action">
          <ng-icon name="lucideDownload" size="15"></ng-icon>
          <span>Download</span>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
      @if (transactions(); as incomes) {
        @for (income of incomes; track income.id; let i = $index) {
          <app-transaction-info-card
            [income]="income"
            type="income"
            [style.--index]="i"
            (delete)="onDelete($event)"
            animate.enter="slide-in"
          ></app-transaction-info-card>
        } @empty {
          <p class="text-gray-500">No incomes added yet. Add some to get started!</p>
        }
      }
    </div>
  }
</p-card>
